<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="info">
    <h1>Experiencia</h1>
    <br>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
    <p>Empresa</p>
    <p>Desde - Hasta</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Nombre del Puesto</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Repellat harum iure deleniti cumque accusamus aspernatur recusandae vel animi voluptate nobis!
        Aut doloribus molestias vitae voluptatibus, aliquid quia rem perspiciatis culpa!</p>
    </span>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
    <p>Empresa</p>
    <p>Desde - Hasta</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Nombre del Puesto</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Repellat harum iure deleniti cumque accusamus aspernatur recusandae vel animi voluptate nobis!
        Aut doloribus molestias vitae voluptatibus, aliquid quia rem perspiciatis culpa!</p>
    </span>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
    <p>Empresa</p>
    <p>Desde - Hasta</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Nombre del Puesto</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Repellat harum iure deleniti cumque accusamus aspernatur recusandae vel animi voluptate nobis!
        Aut doloribus molestias vitae voluptatibus, aliquid quia rem perspiciatis culpa!</p>
    </span>
  </div>
</div>
