@font-face {
	font-family:  "NeonTubes2-Regular";
	src: url("neontubes2.otf") format("truetype");
}
*{
	margin: 0;
	padding: 0;
}

body {
	background-image: 
	url("blackwall.jpg");
	height: 100vh;
	background-size: cover;
	}
.login{
	position: fixed;
	top: 2%;
	right: 2%;
	

	}
.logButton {
	text-align: center;
	width: 100px;
	font-size: 20px;
	color: #15f4ee;
	font-weight: 400;
	border: 5px solid #15f4ee;
	letter-spacing: 2px;
	cursor: pointer;
	border-radius: 100px;
	transition: 1.2s;
	font-family: "Neon Tubes 2", sans-serif;
	text-transform: uppercase;
	}
.logButton:hover {
	box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
				
	text-shadow: 0 2 6px #000, 0 0 5px #15f4ee;
}

.neon {
	font-family: "Neon Tubes 2", sans-serif;
	font-weight: 600;
	font-size: 2.4em;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0 0 5px #fff,
				0 0 10px #fff,
				0 0 20px #fff,
				0 0 40px #0ff,
				0 0 60px #0ff,
				0 0 80px #0ff,
				0 0 100px #0ff,
				0 0 150px #0ff;

}
.neon span {
	animation: flicker 200ms infinite linear alternate;
}

.neon .delay1 {
	animation-delay: 0.8s;
}
.neon .delay2 {
	animation-delay: 1.4s;
}

.neon .delay3 {
	animation-delay: 1.8s;
}

@keyframes flicker {
	40% {opacity:  1;}
	42% {opacity:  0.8;}
	43% {opacity:  1;}
	45% {opacity:  0.2;}
	46% {opacity:  1;}
}
h1 {
	text-align: center;
}
p {
	color: #80BDFF;
	padding: 15px;
	text-shadow: 0 0 5px rgb(37, 190, 195),
				0 0 10px rgb(5, 240, 252);
				
				
}

.acercaDe {
	padding-top: 76px;
}
.foto {
	display: flex;
	justify-content: space-between;
}
img {
	border: 5px solid #15f4ee;
	border-radius: 50px;
	max-width: 150px;
	max-height: 150px;
}
img:hover {
	box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
}
