<div class="row">
  <div class="conteiner">
    <div class="logo">
      <img src="../../../assets/APLogo-20-20sinfondo.png" alt="logo argentina programa" id="logoAr">
    </div>
    <div class="redes">
      <a href=""><img src="../../../assets/linkedin.png" alt="linkedin" id="logos"></a>
      <a href=""><img src="../../../assets/insta.png" alt="instagram" id="logos"></a>
      <a href=""><img src="../../../assets/github.png" alt="github" id="logos"></a>
      <button type="button" class="btn btn-outline-light">LOGIN</button>
    </div>
  </div>
</div>

